@media (max-width: 600px) {
  .get-in-touch {
    margin: 40px 20px 40px 20px;
    text-align: center;

    .contact-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
    }

    .contact-image {
      img {
        width: 200px;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}

@media (min-width: 600px) {
  .get-in-touch {
    display: flex;
    margin: 50px 0 50px 0;

    .contact-text {
      margin: 0 0 0 300px;

      p {
        margin: 40px 0 40px 0;
      }
    }

    .contact-image {
      height: 374px;
      margin: 0 230px 0 200px;

      img {
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}

@media (min-width: 1730px) {
  .get-in-touch {
    display: flex;
    margin: 50px 0 50px 0;

    .contact-text {
      margin: 0 0 0 300px;

      p {
        margin: 40px 0 40px 0;
      }
    }

    .contact-image {
      height: 374px;
      margin: 0 230px 0 200px;

      img {
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}
