.my-work {
  background-repeat: no-repeat;
  background-image: url('../assets/images/BlueGradientBackground.svg');
  background-size: cover;
  color: #ffffff;
}
@media (max-width: 600px) {
  .my-work {
    padding: 40px 20px;
    text-align: center;
  }

  h1 {
    margin: 0 0 30px 0;
  }
}
@media (min-width: 600px) {
  .my-work {
    margin: 0 0 50px 0;
    height: 620px;
    max-width: 100%;
    min-width: 1330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      margin: 50px 0 60px 0;
    }

    .work-items {
      display: flex;
      justify-content: space-around;
      color: #f2f7f9;
      margin: 0 50px;
    }
  }
}

@media (min-width: 1730px) {
  .my-work {
    margin: 0 0 50px 0;
    height: 620px;
    max-width: 100%;
    min-width: 1330px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 50px 0 60px 0;
    }

    .work-items {
      display: flex;
      justify-content: space-around;
      color: #f2f7f9;
      margin: 0 50px;
    }
  }
}
