@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i,900,900i');

$font: Lato, sans-serif;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  font-size: 16px;
  color: #1d1e2b;
  max-width: 100%;
  min-width: 700px;
}

#root {
  min-height: 100%;
}

button {
  outline: none;
}

a {
  text-decoration: none;
}

.logo-path {
  fill: #babcc5;
}
