@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i,900,900i');

$font: Lato, sans-serif;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  max-width: 100%;
  min-width: 700px;
}

#root {
  min-height: 100%;
}

.logo-path {
  fill: #babcc5;
}

.social-media-icons {
  display: flex;
  align-items: center;

  .social-media-icon {
    margin: 0 5px;
    height: 28px;
  }

  .social-media-email {
    margin-top: 6px;
  }
}
